.container{
    display:flex;
height: 600px;
width: 800px;
border: 2px solid black;
background-color: lightgreen;

}

.item{
    height: 100px;
    width: 100px;
    border: 2px solid blue;
    background-color: lightcoral;
    
}